<html>
<head>
         <title>Fund List</title>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <form action="" method="POST">
        <h2>Add Fund</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fund_id">Fund Id</label>
                    <input
                            type="number"
                            class="form-control"
                            name="fund_id"
                            placeholder=""
                            id="fund_id"
                    />
                </div>
            </div>
        </div>
        <!--  col-md-6   -->

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input
                            type="text"
                            class="form-control"
                            name="name"
                            placeholder=""
                            id="name"
                    />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="source">Source</label>
                    <select id="source" name="source" class="form-control">
                        <option value="NONE">None</option>
                        <option value="IBOR">IBOR</option>
                        <option value="LEGACY">LEGACY</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="effective_date">Effective Date</label>
                    <input
                            type="date"
                            class="form-control"
                            name="effective_date"
                            id="effective_date"
                            placeholder=""
                            onchange="handler(event)"
                    />
                </div>
            </div>
        </div>


          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fund_type">Fund Type</label>
                    <input
                            type="text"
                            class="form-control"
                            name="fund_type"
                            id="fund_type"
                            placeholder=""
                    />
                </div>
            </div>
        </div>




          <button type="cancel" class="btn btn-primary" value="Cancel">
            <a style="color:white" href="/">Cancel </a>
        </button>
        <button type="submit" class="btn btn-primary" value="Submit">
            Submit
        </button>
    </form>
</div>

<script>

    function handler(e) {
        console.log("Print Event", e.target.value);
        if (e.target.value) {
            var varDate = new Date(e.target.value);
            var today = new Date();
            if (varDate > today) {
                var mySelect = document.getElementById("source");
                var len = mySelect.length;
                for (var i = 0; i < len; i++) {
                    mySelect.remove(0);
                }
                document.getElementById("source").options[0] = new Option(
                    "IBOR",
                    "IBOR"
                );
                document.getElementById("source").options[1] = new Option(
                    "LEGACY",
                    "LEGACY"
                );
            }
        }
    }

</script>
</body>
</html>
