<html>
<head>
         <title>Fund List</title>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <form action="" method="POST">
        <h2>Add Fund</h2>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fund_short_name">Fund Short Name</label>
                    <input
                            type="text"
                            class="form-control"
                            name="fund_short_name"
                            placeholder=""
                            id="fund_short_name"
                    />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="supplier">Supplier</label>
                    <select id="supplier" name="supplier" class="form-control">
                        <option value="IBOR">IBOR</option>
                        <option value="LEGACY">LEGACY</option>
                    </select>
                </div>
            </div>
        </div>


          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fund_type">Fund Type</label>
                    <input
                            type="text"
                            class="form-control"
                            name="fund_type"
                            id="fund_type"
                            placeholder=""
                    />
                </div>
            </div>
        </div>


           <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="created_by">Created by</label>
                    <input
                            type="text"
                            class="form-control"
                            name="created_by"
                            id="created_by"
                            placeholder=""
                    />
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="updated_by">Updated By</label>
                    <input
                            type="text"
                            class="form-control"
                            name="updated_by"
                            id="updated_by"
                            placeholder=""
                    />
                </div>
            </div>
        </div>



          <button type="cancel" class="btn btn-primary" value="Cancel">
            <a style="color:white" href="/">Cancel </a>
        </button>
        <button type="submit" class="btn btn-primary" value="Submit">
            Submit
        </button>
    </form>
</div>

<script>

</script>
</body>
</html>
