<html>
<head>
    <title>Fund List</title>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div class="container">
    <form action="" method="POST">
        <h2>View Fund Details</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fund_id">Fund Id</label>
                    <input
                            type="integer"
                            class="form-control"
                            name="fund_id"
                            placeholder=""
                            value="{{fund[1]}}"
                            id="fund_id"
                    />
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Fund Short Name</label>
                    <input
                            type="text"
                            class="form-control"
                            name="name"
                            placeholder=""
                            value="{{fund[2]}}"
                            id="name"
                    />
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="source">Supplier</label>
                    <select class="form-control" name="supplier" id="source">
                        <option selected="selected" style="display:none;">{{fund[3]}}</option>
                    </select>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fund_type">Fund Type</label>
                    <input
                            class="form-control"
                            name="fund_type"
                            id="fund_type"
                            value="{{fund[4]}}"
                            placeholder=""
                    />
                </div>
            </div>
        </div>


          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fund_type">Created By</label>
                    <input
                            class="form-control"
                            name="fund_type"
                            id="created_by"
                            value="{{fund[4]}}"
                            placeholder=""
                    />
                </div>
            </div>
        </div>


          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fund_type">Updated By</label>
                    <input
                            class="form-control"
                            name="fund_type"
                            id="updated_by"
                            value="{{fund[4]}}"
                            placeholder=""
                    />
                </div>
            </div>
        </div>

        <button type="cancel" class="btn btn-primary" value="Cancel">
            <a style="color:white" href="/">Cancel </a>
        </button>
    </form>
</div>
</html>




