<html>
<head>

    <title>Fund List</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
            crossorigin="anonymous"
    />

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css"
    />
</head>

<body>
<form action='' method="post">
    Click Yes to confirm
       <button type="submit" class="btn btn-primary" value="Yes">
            Yes
        </button>
       <button type="cancel" class="btn btn-primary" value="Cancel">
            <a style="color:white" href="/">Cancel </a>
        </button>
</form>
</body>
</html>
