<html>

<head>
    <title>Fund List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
</head>

<body>

    <div class="container">
        <form action="" method="POST">
            <h2>Edit Fund</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="fund_short_name">Fund Short Name</label>
                        <input type="text" class="form-control" name="fund_short_name" placeholder="" value="{{fund[1]}}"
                            id="fund[1]" />
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="supplier">Supplier</label>
                        <select class="form-control" name="supplier" id="supplier" >
                            <option disabled="disabled" selected="selected" style="display:none;" value="{{fund[2]}}" >{{fund[2]}}
                            </option>
                            <option value="IBOR">IBOR</option>
                            <option value="LEGACY">LEGACY</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="fund_type">Fund Type</label>
                        <input type="text" class="form-control" name="fund_type" placeholder="" value="{{fund[3]}}"
                            id="fund_type" />
                    </div>
                </div>
            </div>


            <button type="cancel" class="btn btn-primary" value="Cancel">
                <a style="color:white" href="/">Cancel </a>
            </button>
            <button type="submit" class="btn btn-primary" value="Submit">
                Submit
            </button>

        </form>
    </div>
</body>

</html>